.header {
  position: fixed;
  top: 0;
  height: 64px;
  width: 100vw;
  background-color: #3f51b5;
  box-shadow: 0 4px 2px -2px gray;
  margin-bottom: 50px;
  z-index: 100;
  display: flex;
  justify-content: center;
  color: white;

  -webkit-box-shadow: 0 8px 6px -6px rgb(63, 59, 59);
  -moz-box-shadow: 0 8px 6px -6px rgb(63, 59, 59);
  box-shadow: 0 8px 6px -6px rgb(63, 59, 59);
}
